.suggested-habits {
    width: 25%;
    height: 500px;
    background-color: #DDF5FC;
    border: 2px solid black;
    border-radius: 55px;
    overflow-y: auto;
}

.habit-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    list-style-type: none;
}