.streak-card {
    width: 90%;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #aae7f8;
}

.streak-title {
    font-size: smaller;
}

.streak-duration {
    font-size: smaller;
}