.user-habit-card {
    width: 50%;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffe890;
}

.habit-title {
    font-size: smaller;
}

.habit-category {
    font-size: smaller;
}

.habit-buttons {
    width: 25%;
    height: 35px;
    border-radius: 15px;
    background-color: #aae7f8;
}