.tutorial {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.todays-habits-tutorial {
    width: 25%;
    height: 300px;
    background-color: #FDB0E3;
    border: 2px solid black;
    border-radius: 55px;
}

.suggested-habit-list-tutorial {
    display: flex;
    flex-direction: column;
    justify-items: center;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
}

.suggested-habits-tutorial {
    width: 25%;
    height: 300px;
    background-color: #DDF5FC;
    border: 2px solid black;
    border-radius: 55px;
}

.habit-list-tutorial {
    display: flex;
    flex-direction: column;
    justify-items: center;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
}

.streaks-tutorial {
    width: 25%;
    height: 300px;
    background-color: #FFE890;
    border: 2px solid black;
    border-radius: 55px;
}

.streak-list-tutorial {
    display: flex;
    flex-direction: column;
    justify-items: center;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
}

.user-habit-card-tutorial {
    width: 90%;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffe890;
}

.habit-title {
    font-size: smaller;
}

.habit-category {
    font-size: smaller;
}

.habit-buttons {
    width: 25%;
    height: 35px;
    border-radius: 15px;
    background-color: #aae7f8;
}