.tutorial {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.streaks-tutorial, .todays-habits-tutorial, .suggested-habits-tutorial {
    width: 25%;
    height: 300px;
    border: 2px solid black;
    border-radius: 55px;
    padding: 10px;
    box-sizing: border-box;
}

.streaks-tutorial {
    background-color: #FFE890;
}

.todays-habits-tutorial {
    background-color: #FDB0E3;
}

.suggested-habits-tutorial {
    background-color: #DDF5FC;
}

.streak-list-tutorial, .suggested-habit-list-tutorial, .habit-list-tutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.streak-tutorial-div, .user-habit-card-tutorial, .suggested-habit-card {
    width: 90%;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.streak-tutorial-div {
    background-color: #aae7f8;
}

.user-habit-card-tutorial {
    background-color: #ffe890;
}

.suggested-habit-card {
    background-color: #FDB0E3;
}

.habit-title, .habit-category, .streak-title, .streak-duration {
    font-size: smaller;
}

.habit-buttons {
    width: 25%;
    height: 35px;
    border-radius: 15px;
    background-color: #aae7f8;
}